<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{[indice+1]}} {{valienteDeLista.apodo_prs}} {{valienteDeLista.nombre_prs}} {{valienteDeLista.preferencia_prs}} {{valienteDeLista.email_prs}}
        &nbsp;&nbsp;
        <a [routerLink]="['/inscripcion',indice]" [queryParams]="{accion:'1'}">Actualiza</a>
        &nbsp;&nbsp;
        <a [routerLink]="['/inscripcion',indice]" [queryParams]="{accion:'2'}">Dar de baja</a>
      </div>
      <app-coche (plazaslibres_eveprs)="agregarPlazaslibres($event)"></app-coche>
      <ul style="list-style: none;">
        <li *ngFor="let item of items">{{item}}</li>
      </ul>
    </div>
  </div>
</div>

