<section class="evento">
<!--
	<div class="evento_header">
		<img class="evento_header_img" [src]="evento.author.image" alt="Imagen de un evento">
		<a class="evento_header_name" [href]="evento.author.url" target="_b">by {{evento.author.fullName}}</a>
		<div class="evento_header_date">Published on {{evento.timestamp}}</div>
	</div>
-->
	<div class="evento_content">
<!--
		{{evento.content}}
-->
    <p>Título: {{titulo_eve}}</p>
    <p>Fecha: {{fechaidatru_eve}}</p>
    <p>Nivel: {{nivel_eve}}</p>
    <p>Nº Participantes: {{getNparticipantes_eve()<=10? "Aforo limitado por Covid (10)":getNparticipantes_eve()}}</p>
    <p>Nombre del inscrito: {{apodo_prs.value}}</p>

<!-- Opción 1: Mediante botón 	
	<input type="text" #apodo_prs>
	<input type="button" class="login_button" value="Inscripción" (click)="llamaApodo_prs(apodo_prs.value)">
-->
<!-- Opción 2: Al salir del input
	<input type="button" class="login_button" value="Inscripción" (keyup)="llamaApodo_prs(apodo_prs.value)">
-->
<!-- Opción 3: Según se va escribiendo -->
		<input type="text" #apodo_prs (keyup)="0" [disabled]="habilitacionCuadro">
		<br/>
		<br/>
		{{textoRegistro}}
		<br/>
<!--		
		<p>Registrado: <input type="checkbox" id="registro" [checked]="userRegistrado" (click)="setRegistroUsuario()"></p>
-->
		<p>Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="userRegistrado" (click)="setRegistroUsuario($event)"></p>
		<p>No registrado: <input type="radio" value="no" name="nRegistro" (click)="setRegistroUsuario($event)"></p>
		<br/>
		{{getRegistroUsuario()}}
	</div>

	<hr class="evento_line">
<!--
	<div class="evento_fav">
    <a class="fav_icon" [ngClass]="{'fav_icon-selected': evento.favorite}" href="#">&#10084;</a>
	</div>
-->
</section>

