<section class="evento">
<!--
	<div class="evento_header">
		<img class="evento_header_img" [src]="evento.author.image" alt="Imagen de un evento">
		<a class="evento_header_name" [href]="evento.author.url" target="_b">by {{evento.author.fullName}}</a>
		<div class="evento_header_date">Published on {{evento.timestamp}}</div>
	</div>
-->
	<div class="evento_content">
<!--
		{{evento.content}}
-->
    <p>Aquí iría un evento</p>
	</div>

	<hr class="evento_line">
<!--
	<div class="evento_fav">
    <a class="fav_icon" [ngClass]="{'fav_icon-selected': evento.favorite}" href="#">&#10084;</a>
	</div>
-->
</section>

