<section class="section-header">
  <h1 style="text-align: center;">{{titulo1}}</h1>
</section>
<br/><br/>
<section class="valiente">
  <div class="container">
    <form>
        <input type="text" name="email_prs" placeholder="eMail" [(ngModel)]="email_prs"><br/>
        <input type="text" name="contrasenna_prs" placeholder="Contraseña" [(ngModel)]="contrasenna_prs"><br/>
        <input type="submit" value="Registrarse" (click)="registrarUsuario()"><br/>
    </form>

    <br/>
    <!--
    <p *ngIf="registrado; else sinRegistrar">{{email_prs}}<span [ngStyle]="{color: mensaje==' registrado con éxito' ? 'blue' : 'black'}">{{mensaje}}</span></p>
    -->
    <p *ngIf="registrado; else sinRegistrar">{{email_prs}}<span [ngClass]="{paraRegistrados: mensaje==' registrado con éxito' ? 'blue' : 'black'}">{{mensaje}}</span></p>

    <ng-template #sinRegistrar>
    <p>No hay nadie registrado</p>
    </ng-template>

    <br><br>
    <hr class="valiente_line">
  </div>
</section>
